@model CatGarden.Web.ViewModels.Review.ReviewFormViewModel
@{
    ViewData["Title"] = "Edit Review";
}

<header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</header>

<h2 class="text-center">@ViewData["Title"]</h2>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }

    /* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
</style>

<form id="reviewForm" asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Rating"></label>
        <div class="rate">
            <input type="radio" id="star5" name="Rating" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="Rating" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="Rating" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="Rating" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="Rating" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Comment"></label>
        <textarea asp-for="Comment" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="hidden" asp-for="@Model.CatteryId" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // Add JavaScript code here if needed
        });
    </script>
}
